flows.json
[{"id":"e3c50f6f.0f43","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f5833de.574c3c","type":"ui_form","z":"e3c50f6f.0f43","name":"","label":"","group":"216fd3f8.db046c","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":480,"wires":[["25db5fc1.a30ee"]]},{"id":"25db5fc1.a30ee","type":"function","z":"e3c50f6f.0f43","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["466adaa8.4516f4","60a88535.42087c"]]},{"id":"f1805ec7.c33be","type":"function","z":"e3c50f6f.0f43","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["cfb8290d.3132d8"]]},{"id":"466adaa8.4516f4","type":"watson-conversation-v1","z":"e3c50f6f.0f43","name":"Customer Care","workspaceid":"22416c53-2ce4-4051-8947-fc709d531b24","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/49c7ca87-7575-49ff-861e-996ef479e615","timeout":"","optout-learning":false,"x":540,"y":180,"wires":[["693087a6.b81ed8","f1805ec7.c33be"]]},{"id":"60a88535.42087c","type":"ui_text","z":"e3c50f6f.0f43","group":"216fd3f8.db046c","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":570,"y":480,"wires":[]},{"id":"693087a6.b81ed8","type":"debug","z":"e3c50f6f.0f43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":60,"wires":[]},{"id":"cfb8290d.3132d8","type":"ui_text","z":"e3c50f6f.0f43","group":"216fd3f8.db046c","order":3,"width":12,"height":3,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":970,"y":480,"wires":[]},{"id":"216fd3f8.db046c","type":"ui_group","z":"","name":"Chatbot","tab":"7e347188.e32b9","order":1,"disp":true,"width":12,"collapse":false},{"id":"7e347188.e32b9","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]